# generated
*.tx
*.o

# precompiled python
*.pyc
*$py.class

# no binaries
*.exe

# roms
*.gbc
*.gb

# for any of the poor souls with save game files in their working directory
*.sgm
*.sav
*.rtc
*.sn1
*.sn2
*.sn3
*.sn4
*.sn5
*.sn6
*.sn7
*.sn8
*.sn9
*.sn0

# rgbds extras
*.map
*.sym

# for vim configuration
# url: http://www.vim.org/scripts/script.php?script_id=441
.lvimrc

# swap files for vim
.*.swp

# swap files for gedit
*~
audio/ded/wav/abomasnow.wav
audio/ded/wav/aggron.wav
audio/ded/wav/altaria.wav
audio/ded/wav/amaura.wav
audio/ded/wav/aron.wav
audio/ded/wav/aurorus.wav
audio/ded/wav/breloom.wav
audio/ded/wav/buizel.wav
audio/ded/wav/buneary.wav
audio/ded/wav/camerupt.wav
audio/ded/wav/carvanha.wav
audio/ded/wav/chandelure.wav
audio/ded/wav/cinccino.wav
audio/ded/wav/cottonee.wav
audio/ded/wav/croagunk.wav
audio/ded/wav/crustle.wav
audio/ded/wav/drifblim.wav
audio/ded/wav/drifloon.wav
audio/ded/wav/drilbur.wav
audio/ded/wav/dwebble.wav
audio/ded/wav/electivire.wav
audio/ded/wav/excadrill.wav
audio/ded/wav/floatzel.wav
audio/ded/wav/froslass.wav
audio/ded/wav/gallade.wav
audio/ded/wav/galvantula.wav
audio/ded/wav/gardevoir.wav
audio/ded/wav/glaceon.wav
audio/ded/wav/glalie.wav
audio/ded/wav/gliscor.wav
audio/ded/wav/honchkrow.wav
audio/ded/wav/joltik.wav
audio/ded/wav/kirlia.wav
audio/ded/wav/krokorok.wav
audio/ded/wav/krookodile.wav
audio/ded/wav/lairon.wav
audio/ded/wav/lampent.wav
audio/ded/wav/larvesta.wav
audio/ded/wav/leafeon.wav
audio/ded/wav/litwick.wav
audio/ded/wav/lopunny.wav
audio/ded/wav/lucario.wav
audio/ded/wav/magmortar.wav
audio/ded/wav/magnezone.wav
audio/ded/wav/mamoswine.wav
audio/ded/wav/maractus.wav
audio/ded/wav/mareanie.wav
audio/ded/wav/medicham.wav
audio/ded/wav/meditite.wav
audio/ded/wav/minccino.wav
audio/ded/wav/munchlax.wav
audio/ded/wav/noibat.wav
audio/ded/wav/noivern.wav
audio/ded/wav/numel.wav
audio/ded/wav/pancham.wav
audio/ded/wav/pangoro.wav
audio/ded/wav/pelipper.wav
audio/ded/wav/phantump.wav
audio/ded/wav/pikipek.wav
audio/ded/wav/porygon_z.wav
audio/ded/wav/ralts.wav
audio/ded/wav/rhyperior.wav
audio/ded/wav/riolu.wav
audio/ded/wav/sandile.wav
audio/ded/wav/scolipede.wav
audio/ded/wav/scrafty.wav
audio/ded/wav/scraggy.wav
audio/ded/wav/sharpedo.wav
audio/ded/wav/shroomish.wav
audio/ded/wav/snorunt.wav
audio/ded/wav/snover.wav
audio/ded/wav/spiritomb.wav
audio/ded/wav/swablu.wav
audio/ded/wav/sylveon.wav
audio/ded/wav/togekiss.wav
audio/ded/wav/toucannon.wav
audio/ded/wav/toxapex.wav
audio/ded/wav/toxicroak.wav
audio/ded/wav/trevenant.wav
audio/ded/wav/trumbeak.wav
audio/ded/wav/tyrantrum.wav
audio/ded/wav/tyrunt.wav
audio/ded/wav/venipede.wav
audio/ded/wav/volcarona.wav
audio/ded/wav/weavile.wav
audio/ded/wav/whimsicott.wav
audio/ded/wav/whirlipede.wav
audio/ded/wav/wingull.wav
